#root {
  background-color: #1A1A40;
}

.GridDrawer {
  top: 100px;
  font-family: sans-serif;
  text-align: center;
  position: relative;
  /* border: 3px solid black; */
  margin: auto;
}

.Hexagon {
  position: absolute;
  box-sizing: border-box;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.Hexagon svg {
  position: absolute;
  z-index: 1;
}

.Hexagon span {
  z-index: 2;
  color: white;
}
